:root {
    --white-color: #ffffff;
    --blue-black-color: #2e2f42;
    --blue-color: #404bbf;
    --blue-white-color: #4d5ae5;
    --grey-color: #434455;
    --light-white-color: #e7e9fc;
    --grey-light-color: #f4f4fd;
    --grey-black-color: #8e8f99;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--white-color);
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0px;
}

ul,
ol{
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    padding: 0px;
    border: none;
}

/* ======================header================= */

.list {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1158px;
}
.section {
    padding: 120px 0;
}

.wraper-header {
    display: flex;
    justify-content: space-between;
}

.list-menu {
    display: flex;
    align-items: center;
}

.ul-logo {
    display: flex;
    gap: 40px;
}

.link {
    text-decoration: none;
}

.logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    display: inline-block;
    color: var(--blue-black-color);
}

.header-navigation {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--blue-black-color);
}

.link-navigation {
    display: inline-block;
    padding-bottom: 24px;
    padding-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--blue-black-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-navigation:hover {
    color: #404bbf;
}
.link-navigation:focus {
    color: #404bbf;
}

[type="class"],
a.link-active::after {
    position: absolute;
    content: "";

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    color: #404bbf;
    left: 0;
    bottom: -1px;
}

.link-navigation-addr {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--grey-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-navigation-addr:hover {
    color: #404bbf;
}

.link-navigation-addr:focus {
    color: #404bbf;
}

.address {
    font-style: normal
}

.ul-logo-address {
    display: flex;

    gap: 40px;
    text-decoration: none;
}

.address-li {
    font-weight: 400;
}

/* ======================/header================= */

.index-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 188px 0;
    background-color: var(--blue-black-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    max-width: 496px;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-align: center;
}

.main-but {
    display: block;
    min-width: 169px;
    height: 56px;

    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;

    border: none;
    border-radius: 4px;
    color: var(--white-color);
    background: #4D5AE5;
    background-color: var(--blue-white-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-but:hover {
    background-color: #404BBF;
}

.main-but:focus {
    background-color: #404BBF;
}

.future {
    padding-top: 120px;
    padding-bottom: 0;
}

.small-list {
    display: flex;
    gap: 24px;
}

.container-icon-section-two {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;
    padding: 24px;
    background-color: #F4F4FD;
    border-radius: 4px;

}

.index-icons-section-two {
    width: 64px;
    height: 64px;
}

.calc {
    width: calc((100% - 72px) / 4);
}

.headerthree-in-li {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--blue-black-color);
}

.p-in-li {
    color: var(--grey-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.header-section-two {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--blue-black-color);
}

.photo-list {
    display: flex;

    gap: 24px;
}

.calc-photo {
    width: calc((100% - 48px) / 3);
}

/* ======================index-sector-four================= */

.index-section-four {
    /* padding-bottom: 0; */
    background-color: #F4F4FD;
}

.index-main-header-section-four {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--blue-black-color);
}

.li-htwo {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--blue-black-color);
    background-color: #FFFFFF;
}

.team-list {
    display: flex;

    gap: 24px;
}

.team-list-li {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
}

.name-and-job {
    padding: 32px 16px;

}

.team-job {
    margin-bottom: 8px;
    text-align: center;
}

.container-icon-section-four {
    display: flex;
    justify-content: center;

    gap: 24px;
}

.social-list {
    display: flex;
    width: 40px;
    height: 40px;
}

.link-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: var(--blue-white-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-icon:hover {
    background-color: #404bbf;
}

.link-social-icon:focus {
    background-color: #404bbf;
}

.index-icons-section-four {
    fill: var(--grey-light-color);
}

/* ======================section-icons================= */

.list-icons-card {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.list-icon-card {
    width: 168px;
    height: 88px;
}

.link-icon-card {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    color: var(--grey-black-color);
    border-radius: 4px;
    border: 1px solid #8E8F99;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon-card:hover {
    border-color: #404bbf;
    color: #404bbf;
}
.link-icon-card:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.icon-card {
    fill: currentColor;
}
/* .icon-card:hover {
    fill: #404BBF;
}
.icon-card:focus {
    fill: #404BBF;
} */


/* ======================portfolio================= */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-ul-but {
    display: flex;
    justify-content: center;

    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-but {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--light-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-but:hover {
    border: 1px solid transparent;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-but:focus {
    border: 1px solid transparent;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-photo-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-photo-li {
}

.link-photo {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-photo:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-photo:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-and-category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-wrapper-photo {
    position: relative;
    overflow: hidden;
}

.portfolio-p-in-photo {
    position: absolute;

    color: var(--grey-light-color);
    background-color: var(--blue-white-color);
    
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 40px 32px;

    transform: translateY(100%);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    /* 150% */
    letter-spacing: 0.02em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrapper-photo:focus .portfolio-p-in-photo,
.portfolio-wrapper-photo:hover .portfolio-p-in-photo{
    transform: translateY(0);
}

.portfolio-li-htwo {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--blue-black-color);
    background-color: #FFFFFF;
}

.portfolio-p-in-li {
    color: var(--grey-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.portfolio-but {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

/* ======================footer================= */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--blue-black-color);
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-logo-text {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.social-footer {
    display: flex;
    flex-direction: column;
}

.footer-hthree {
    color: var(--white-color);
    margin-bottom: 16px;
    
    /* Body Medium */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.footer-list-icons {
    display: flex;
    gap: 16px;
}

.footer-list-icon {
    display: flex;

    width: 40px;
    height: 40px;
}

.footer-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: var(--blue-white-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover {
    background-color: #31D0AA;
}
.footer-link-icon:focus {
    background-color: #31D0AA;
}

.footer-icon {
    fill: var(--grey-light-color);
}



/* ======================/footer================= */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(46, 47, 66, 0.40);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: absolute;
    top: 80px;
    left: 50%;

    transform: translateX(-50%);

    width: 408px;
    height: 584px;

    background-color: #FCFCFC;
    border-radius: 4px;
}

.icon-wrapper-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.10);
}

.modal-close-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 8px;
    height: 8px;


    background-color: #E7E9FC;
    cursor: pointer;
}